{% extends "lab/calendar.html" %}
{% load i18n %}
{% load static %}
{% block main %}
<h1>{% trans "Week view" %}</h1>
<form action="." method="post">
    {% csrf_token %}
    <input class="btn btn-default" type="submit" name="previous" value="{% trans "Previous" %}" />
    <input class="btn btn-default" type="submit" name="next" value="{% trans "Next" %}" />
    <input class="btn btn-default" type="submit" name="today" value="{% trans "Current" %}" />
</form>
<table class="table" id="calendar-week">
    <tr>
        {% for date, occurrences, current in week %}
            <th><a href="{% url "calendar_day" year=date|date:'Y' month=date|date:'m' day=date|date:'d' %}">{{ date|date:'D m/d' }} <img src="{% static "images/view.png" %}" style="vertical-align:middle"></a></th>
        {% endfor %}
    </tr>
    <tr>
        {% for date, occurrences, current in week %}
            <td class="{% if current %}calendarium-current{% endif %}">
                <div class="calendarium-relative">
                    {% for occurrence in occurrences %}
                        <p class="alert" style="background-color: #{{ occurrence.event.category.color }}">
                            <a title="{{ occurrence }}" href="{% url "calendar_occurrence_detail" pk=occurrence.event.pk year=occurrence.start.year month=occurrence.start.month day=occurrence.start.day %}">{{ occurrence|truncatechars:22 }}</a>
                        </p>
                    {% endfor %}
                </div>
            </td>
        {% endfor %}
    </tr>
</table>
<br/>
<input class="btn btn-default" onclick="javascript:history.back();" value="{% trans "Back" %}" />
{% endblock %}
