{% extends "lab/base.html" %}
{% block content %}
    <section class="camera_container">
    <div id="camera" class="camera_wrap">
    {% for banner in banners %}
        <div data-src="{{banner.img}}"></div>
    {% endfor %}
    </div>
    </section>
    <section class="well1">
        <div class="container">
            <div class="row">
                <div class="grid_8" style="text-align: justify">
                    <h2>About</h2>
                    {{homepage|safe}}
                </div>
                <div class="grid_4">
                    <h2 class="recent_news">Recent updates</h2>
                    <div class="accordion">
                        <dl>
                            {% for update in news %}
                            <dt>
                                <a href="#" aria-expanded="false" aria-controls="accordion1" class="accordion-title accordionTitle js-accordionTrigger"><i class="fa fa-plus"></i> {{update.title}}<span class="date">{{update.visible_from_date}}</span></a>
                            </dt>
                            <dd class="accordion-content accordionItem is-collapsed" id="accordion1" aria-hidden="true">
                                <p>{{update.description}}
                                {% if update.link|length > 0 %}
                                    <br><a href="{{update.link}}" target="_blank" rel="nofollow">More</a>
                                {% endif %}
                                </p>
                            </dd>
                            {% endfor %}
                        </dl>
                    </div>
                    <div class="archive"><a href="{% url 'archive' %}"><i class="fa fa-archive" ></i>Archive</a></div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}