{% extends "serc/base.html" %}
{% block content %}
<section class="well1 ins2 mobile-center">
    <div class="container">
        <h1>{{PAGE_TITLE}}</h1>
        <hr class="compact-hr">

        {% for category, data in people_organized.items %}
            <h3>{{category}}</h3>
            <div class="row">
                {% for person in data %}
                <div class="grid_{% widthratio 12 person.count_in_one_row 1 %} peoples">
                    {% if person.personal_page %}
                        <a href="{{person.http_link}}"><img src="/{{person.img}}" alt=""></a>
                    {% else %}
                        <img src="/{{person.img}}" alt="">
                    {% endif %}
                    <h4>
                        {% if person.personal_page %}
                            <a href="{{person.http_link}}">{{person}}</a>
                        {% else %}
                            {{person}}
                        {% endif %}
                    </h4>
                    {% if person.title|length > 0 %}
                    <span>{{person.title}}</span>
                    {% endif %}
                    {% if person.interest|length > 0 %}
                    <div class="accordion">
                        <dl>
                            <dt>
                                <a href="#" aria-expanded="false" aria-controls="accordion1" class="accordion-title accordionTitle js-accordionTrigger" style="padding: 2px 12px;"><i class="fa fa-plus"></i> Research Interests</a>
                            </dt>
                            <dd class="accordion-content accordionItem is-collapsed" id="accordion1" aria-hidden="true">
                                {{person.interest|safe}}
                            </dd>
                        </dl>
                    </div>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
            <hr class="compact-hr">
        {% endfor %}
</section>
{% endblock content %}