{% extends "serc/base.html" %}
{% block content %}
    <section class="map">
        <div id="google-map" class="map_model"></div>
        <ul class="map_locations">
            <li data-x="78.3484871" data-y="17.447257">
                <p>Software Engineering Research lab,<br>B6-310,<br>International Institute of Information Technology,<br>Hyderabad.<br><span>Phone: 040-66531488</span><br><span>Email: serl {at} mail.iiit.ac.in</span></p>
            </li>
        </ul>
    </section>
{% endblock content %}