{% extends "serc/base.html" %}
{% block content %}
    <section class="well1 ins3">
        <div class="container">
            <h2>{{person.name}}</h2>
            <div class="row off1">
                <div class="grid_9 personal_page">
                    {% if person.short_bio|length > 0 %}
                        <h3>About</h3>
                        {{person.short_bio|safe}}
                        <hr class="small_margins">
                    {% endif %}
                    {% if person.interest|length > 0 %}
                        <h3>Research Interests</h3>
                        {{person.interest|safe}}
                        <hr class="small_margins">
                    {% endif %}
                </div>
                <div class="grid_3">
                <div class="row">
                    <div class="grid_3 wow fadeInRight image_personal"><img src="/{{person.img}}" alt=""></div>
                    <div class="grid_3 wow fadeInRight social_personal">
                        <center>
                            {% if person.study_one_line|length > 0 %}
                            <b>{{person.study_one_line}}</b>
                            <br>
                            {% endif %}
                            {% if person.homepage|length > 0 %}
                            <a href="{{person.homepage}}" rel="nofollow" target="_blank" title="Personal website"><i class="fa fa-globe" title="Personal website"></i></a>
                            {% endif %}
                            {% if person.email|length > 0 %}
                                <a href="mailto:{{person.email}}" title="Email"><i class="fa fa-envelope-o" title="Email"></i></a>
                            {% endif %}
                            {% if person.phone|length > 0 %}
                            <a href="tel:{{person.phone}}" title="Telephone"><i class="fa fa-phone" title="Telephone"></i></a>
                            {% endif %}
                        </center>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row off1">
                <div class="grid_12">
                    <h3>Publications</h3>
                    {% for category, publications in publications_organized.items %}
                    <h4>{{category}}</h4>
                    <ul class="publications" id="dynatable_{{category|slugify}}" class="row-fluid">
                        {% for publication in publications %}
                        <li class="span4" data-color="gray">
                            <div><span class="authors">{{publication.authors|safe}}</span>: <span class="title">{{publication.title}}</span> <span class="location">{{publication.published_at}} {{publication.published_year}}</span>: <span class="page">{{publication.published_page}}</span> <a href="{{publication.link}}" target="_blank" rel="nofollow" class="link"><i class="fa fa-external-link"></i></a></div>
                        </li>
                        {% endfor %}
                    </ul>
                    <hr>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>

    <link rel="stylesheet" href="/static/css/jquery.dynatable.css">
    <script src="/static/js/jquery.dynatable.js"></script>
    <script>
        (function ($) {
            function publicationWriter(rowIndex, record, columns, cellWriter) {
            var cssClass = "span4", li;
            li = '<div><li class="' + cssClass + '"><span class="authors">' + record.authors + '</span>: <span class="title">"' + record.title + '"</span> <span class="location">' + record.location + '</span> (pp. <span class="page">' + record.page + '</span>) <a href="' + record.link + '" target="_blank" rel="nofollow" class="link" '+ record.link_present +'><i class="fa fa-external-link"></i></a></div>';
            return li;
        }

        // Function that creates our records from the DOM when the page is loaded
        function publicationReader(index, li, record) {
            var $li = $(li);
            try {
                var $a = $li.find("a.link")[0];
                var link = $a.href;
                var present = "";
            }
            catch(e) {
                var link = "#";
                var present = "style='display: none;'";
            }
            console.log(link);
            console.log(present);
            record.authors = $li.find('.authors').html();
            record.title = $li.find('.title').text();
            record.location = $li.find('.location').text();
            record.page = $li.find('.page').text();
            record.year = $li.find('.year').text();
            record.link = link;
            record.link_present = present;
        }
        {% for category in publications_organized %}
        $('#dynatable_{{category|slugify}}').dynatable({
            table: {
                bodyRowSelector: 'li'
            },
            dataset: {
                perPageDefault: 10,
                perPageOptions: [10, 20, 30, 40]
            },
            writers: {
                _rowWriter: publicationWriter
            },
            readers: {
                _rowReader: publicationReader
            },
            params: {
                records: 'publications'
            }
        });
        {% endfor %}
    })(jQuery);
    </script>
{% endblock content %}